<table class="table" style="margin: 0 auto; width: 50%;">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        <!-- if no datos -->
        <% if (datos.length===0) { %>
            <tr>
                <td colspan="3">
                    <center>No hay productos para mostrar</center>
                </td>
            </tr>
            <% }else{ %>

                <% for (let i=0; i < datos.length; i++) { %>
                    <tr>
                        <td>
                            <%=datos[i].name%>
                        </td>
                        <td>$<%=datos[i].price%>
                        </td>
                        <td><img src="<%=datos[i].thumbnail%>" alt="imagen"></td>
                    </tr>
                    <% } } %>
    </tbody>
</table>